    <main>
 
        <section id="edit-container">
            <div class="edit-container-info">
                <h1>Edit Announcement</h1>
                <form  method="POST">
                    <label>Name:</label>
                    <input type="text" id="name" name="name" value="Bitcoin">
                    <label>Image:</label>
                    <input type="text" id="image" name="image" value="https://bitcoin.org/img/icons/opengraph.png?1651392467">
                    <label>Price:</label>
                    <input type="number" id="price" name="price" value="31166.71">
                    <label>Description:</label>
                    <textarea name="description"
                        id="description">Bitcoin is a decentralized digital currency that can be transferred on the peer-to-peer bitcoin network.</textarea>
                    <label>Payment method:</label>
                    <select id="payment" name="paymentMethod">
                        <option value="crypto-wallet">Crypto Wallet</option>
                        <option value="credit-card">Credit Card</option>
                        <option value="debit-card">Debit Card</option>
                        <option value="paypal" selected>PayPal</option>
                    </select>
                    <input type="submit" id="btn" value="EDIT"></input>
                </form>
            </div>
        </section>

    </main>