div {display: inline-block;}
.green {background-color: green; font-size: 30px;}
.blue {background-color: blue; font-size: 30px}
.red {background-color: red; font-size: 30px}
.purple {background-color: purple; font-size: 30px}
.orange {background-color: orange; font-size: 30px}