html{
    box-sizing: inherit
}

body {
    background-color:beige;
}

body,ul,li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul {
    list-style-type: none;
}

li {
    border: 3px solid black;
    background-color: white;
    height: 12rem;
    width: 8rem;
}

img {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    object-fit: contain;
    padding: 10px;
}