html{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 15vw;
    max-height: 35rem;
    flex-direction: column;
    justify-content: center;
}

span{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    margin: 2px;
}

