<!-- Add event listener angular style -->
<button (click)="handleClickEvent($event)">
  <ng-container *ngIf="showLastName">Hide</ng-container>
  <ng-container *ngIf="!showLastName">Show</ng-container>
  last name
</button>

<!-- Template rendering with conditions and loops angular style -->
<ul id="list-container">
  <li *ngFor="let user of user" class="list-item">
    <app-list-item
      [user]="user"
      [showLastName]="showLastName"
      staticString="static string"
    ></app-list-item>
  </li>
</ul>
