.app-info{
    background-color: #ade2df;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.app-info h1{
    font-size: 5rem;
}

.app-info p {
    font-size: 22px;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

.black-btn{
    background-color: black;
    color: white;
    padding: 1.75rem 2.25rem;
    border-radius: 0.75rem;
    font-size: 20px;
}

.black-btn i {
    margin-right: 0.5rem;
}

.ios-btn.black-btn{
    margin-right: 1rem;
}