        <section id="registerPage">
            <form id='registerForm' action="#" method="">
                <label for="email">Email:</label>
                <input type="text" id="email" name="" placeholder="Email">

                <label for="username">Username:</label>
                <input type="text" id="username" name="" placeholder="Enter your Username">

                <label for="password">Password:</label>
                <input type="password" id="password" name="" placeholder="Password">

                <label for="rePassword">Repeat Password:</label>
                <input type="password" id="rePassword" name="" placeholder="Repeat Password">

                <input type="submit" class="register" value="Register">
            </form>
        </section>