header {
    padding: 15px;
    background-color: #f2dcbb;
}

body {
    background-color: #f9f7cf;
    padding: 15px;
    width: 480px;
}

footer {
    padding: 15px;
    background-color: #f2dcbb;
}
