    {{#if isEmpty}}
        <div class="guest">
                There are no electronics found...
            </div>

    {{else}} 

        {{#each offers}}
        <section id="viewCatalog" class="background-img">
            <div class="added-electronics">
                
                <a href="/electronics/details" class="added-electronics-in-market">
                    <img src="{{image}}" class="picture-added-electronics">
                    <h3>{{name}}</h3>
                    <span>Price: ${{price}}</span>
                </a>

            </div>
        {{/each}}
    {{/if}}

        </section>