.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    

.header img {
    width: 30px;
    height: 25px;
}

.navigation .list {
    display: flex;
    gap: 12px;
}


