.background-img {
    width: 100%;
    position: absolute;
    top: -280px;
    z-index: -1;
    width: 100%;
}

.site-header {
    color: white;
}

/* Top bar */
.top-bar{
    background-color: #d01919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 38px;
    font-size: 20px;
}

.top-bar ul{
    display: flex;
    margin-right: 8px;
}

.top-bar ul li {
    list-style-type: none;
    padding: 0 6px;
}

.phone i{
    margin-right: 12px;
}

/* Site nav */

.site-nav{
    display: flex;
    justify-content: end;
}

.site-nav ul{
    display: flex;
    font-size: 18px;
    font-weight: 600;
}

.site-nav a{
    display: block;
    padding:  8px 48px;
}

.site-nav li {
    display: block;
    list-style: none;
    padding:  0 32px;
}

/* intro */

.intro{
    text-align: center;
    margin-top: 108px;
}

.intro h1 {
    font-size: 54px;
    letter-spacing: 18px;
}

.intro p {
    margin: 42px 650px 42px 650px;
    font-size: 22px;
    
}

.intro a {
    background-color: #d01919;
    text-decoration: none;
    color: white;
    padding: 12px 32px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
}