@media (max-width: 600px){

    /* navbar */
    .home-cta-btn{
        padding-left: 16px;
        padding-right: 16px;
    }


    .home-navbar {
        padding-left: 42px;
    }


    /* home hero */

    .home-hero{
        flex-direction: column-reverse;
    }

    .home-image1{
        width: 100%;
    }

    .home-hero-text-container{
        margin-left: 0;
        width: 100%;
    }
    
    .home-cta-btn2 {
        align-self: center;
        padding: 16px 16px;
    }


    /* features */

    .home-heading-container{
        width: 100%;
    }

    .home-cards-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-cards-container>div {
        width: 100%;
    }
    
    .home-feature-card{
        align-self: center;

    }

    .home-feature-card img {
        width: 400px;
        height: 300px;
    }

    span.card-text{
        width: 100%;
    }



    .home-stats{
        display: none;
    }
}