@media (max-width: 600px){

    /* navbar */
    .home-cta-btn{
        padding-left: 16px;
        padding-right: 16px;
    }


    .home-navbar {
        padding-left: 42px;
    }


    /* home hero */

    .home-hero{
        flex-direction: column-reverse;
    }

    .home-image1{
        width: 100%;
    }

    .home-hero-text-container{
        margin-left: 0;
        width: 100%;
    }
    
    .home-cta-btn2 {
        align-self: center;
        padding: 16px 16px;
    }
}