.museums-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.museums-list li img {
    height: 150px;
    width: 100%;
}

.museums-list li {
    flex: 1 1 calc(50%);
    height: 100%;
    margin-bottom: 2px;
}

.museums-list li p{
    background-color: rgba(102, 22, 134, 0.329);
    color: rgb(92, 87, 27);
    font-weight: bold;
    height: 50px;
    text-align: center;
}

.museums-list li:nth-child(even){
    border-left: 2px solid white;
}