/* navigation */

.home-container01 {
    display: none;
}

.home-left {
    display: none;
}

.home-right {
    display: none;
}

.navbar-logo-title{
    margin-left: 0;
}

/* home-hero section */

.home-hero1{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home-container03 {
    align-items: center;
    padding-right: 0;
}

.home-container03 .button {
    margin-bottom: 16px;
}

/* Shop section */

.home-cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.home-cards-container img {
    width: 100%;
    height: 250px;
}

/* full width banner */

.home-full-width-banner.section-container {
 flex-wrap: wrap;
}

.home-full-width-banner.section-container img {
    width: 100%;
}

.home-full-width-banner.section-container .home-content {
    margin-bottom: 16px;
    width: 100%;
}

.home-full-width-banner.section-container .button{
    margin-bottom: 28px;
}

.home-full-width-banner.section-container .home-text29 {
    margin-top: 24px;
}

.home-full-width-banner.section-container .home-text30{
    width: 80%;
}

/* max width container */

