body {
    font-family: 'Inter', sans-serif;
    background-color: #d9d9d9;
    max-height: 100vh;
    max-width: 100vw;
}

.content {
    margin: 4rem 6rem 4rem 4rem;
    display: flex;
    gap: 2rem;
}

.item {
    flex: 0 1 30%;
}

.item img {
    width: 100%;
    height: 300px;
}



.info{
    padding: 2rem;
}

.info h2 {
    font-size: 32px;
    font-weight: normal;
}

.info h3 {
    color: #595959;
}

.info>p {
    margin-top: 2rem;
    padding-bottom: 3rem;
    font-size: 20px;
    border-bottom: 4px solid black;
    color: #595959;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.user img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
}

.user .read-time{
    margin-left: auto;
    font-size: 22px;
    color: #a79eab;
}

.user .user-name {
    font-size: 24px;
    padding-left: 1rem;
}