header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    align-items:center;
}

header h1 {
    flex: 1 1 70%;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

header ul a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

header ul li {
    
    background-color: lightgrey;
}

main h1 {
    font-weight: 300;
}

main {
    font: 16px/1.4 Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}